---
http_interactions:
- request:
    method: get
    uri: https://synapsepay.com/api/v3/institutions/show
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"banks": [{"bank_code": "ally", "bank_name": "Ally", "logo": "https://cdn.synapsepay.com/bank_logos/ally.png"},
        {"bank_code": "bofa", "bank_name": "Bank of America", "logo": "https://cdn.synapsepay.com/bank_logos/bofa.png"},
        {"bank_code": "boftw", "bank_name": "Bank of the West", "logo": "https://cdn.synapsepay.com/bank_logos/bofw.png"},
        {"bank_code": "bbt", "bank_name": "BB&T Bank", "logo": "https://cdn.synapsepay.com/bank_logos/bbt.png"},
        {"bank_code": "capone360", "bank_name": "Capital One 360", "logo": "https://cdn.syn[...]
